@import "mixin"; //mixin para display flex - column
@import "colores"; //mapa e iteraccion colores

* {
	margin: 0px;
	padding: 0px;
}
:root {
	font-size: 1.2rem;
	font-family: 'Fredoka', sans-serif;
	--color-oscuro-uno: #141E27 --color-oscuro-dos: #203239 --color-claro-uno: #E0DDAA --color-claro-dos: #EEEDDE;
}
body {
    width: 1200vw;
    max-width: 1300px;
    margin: 1px auto;   
}
/*INICIO CABECERA -Imagen + menú de navegacion */ 
.cabecera-contenedora {
	width: 100%;
	background-image: url(../img/carple-tres-imagenes.png);
    background-position: center;
    background-size: cover;
    width: 120vw;
    max-width: 1300%;
    height: 15rem;
    display: flex;
    align-items: flex-end;
     .navbar { /*menú de navegacion BOOTSTRAP*/ 
        width: 485px;
        height: 45px;
        $colorFondo:#eeedde;
        .container-fluid {
            background-color: #eeedde;
         ul { /*class navbar nav*/
            height: 40px;
            box-sizing: border-box;
                li { /*class nav item*/
                   width: 115px;
                   background-color: #eeedde;
                 a { /*class nav link*/
                    height: 40px;
                    width: 115px;
                    color: #203239;
                    box-sizing: border-box;
                    float: left;
                    text-decoration: none;
                    background-color:#eeedde;
                   }
                }
            }
        }
    }
}
h1{ /*TITLE carple aberturas*/
    background-color: #eeedde;
    width: 120vw;
    font-weight: 150;
    font-size: 200%;
    color: #203239;
    padding: 0.19em;
}
section { /*imagen + texto*/
        div {
            background-color: #eeedde;
            height: 35vh;
            width: 120vw;
            padding: 0.3em;
            border: 0;
            margin-bottom: 0;
            display: flex;
           img{ /*imagen*/
               height: 25vh;
               width: 40vw;
               max-width: 250px;
               margin-right: 0.6em;
               p{ /*texto*/
                  font-size: 100%;
                  color: #203239;
                  line-height: 1;
                  letter-spacing: 0.11em;
                  height: 35vh;
                  min-height: 40vh ;
                  margin-left: 0.5em;
                  padding: 0.3rem;
                  box-sizing: border-box;
                }
              }
           }
        }
section {
    h2 { /*Algunos de nuestros trabajos - subtitulo*/
        background-color: #eeedde;
        width: 120vw;
        font-weight: 100;
        font-size: 150%;
        color: #203239;
        padding: 0.19em;  
        }
    }
    /*comienza el pie de pagina - FOOTER*/
    footer {
        background-color: #203239;
        height: 3rem;
        width: 120vw;
        p{/*parrafo copyright*/
            font-size:70%;
            letter-spacing: 0;
            color: #eeedde;
            margin-top:0.06em;
            text-align: center;
            height: 5rem;
            padding-top: 2em;
        }
    }
section{ /*imagenes + descripcion de los servicios*/
      span { /*contiene imagenes + titulo + descripcion*/
        @include flexCol;
        margin-left: 0.3em;
        padding: 0.3em;
        box-sizing: border-box;
        }
       }
main { /*Empresa*/
       background-color: #eeedde;
       font-size:110%;
       letter-spacing: 0.1rem;
       color: #203239;
       box-sizing: border-box;
       text-align: justify;
       margin-top:0.06em;
       text-align: center;
       height: 125vh;
       width: 120vw;
       padding-top: 2em;
       padding-bottom: 1rem;
    }
    main { /*pagina contacto*/
        h3 { /*titulos contactanos y comunicate on nosotros*/
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            padding: 0.6em;
            margin-top: 0.3em;
        }
    }
    .container-datos { /*contenedor de contactanos y formulario de contacto*/
        background-color: #eeedde;
        color: #203239;
        width: 100vw;
        height: 140vh;
        display: grid;
        grid-template-columns: 40% 60%;
        font-size: 1.2rem;
    }
    .row { /*casillero icono + texto*/
        padding: 0.3em;
        margin-top: 0.3em;
        margin-left: 1.8em;
        display: flex;
        justify-content: left;
               
        img { /*iconos*/
            width: 55px;
            height: 25px;
            margin-top: 0.3em;
        }
        label { /*texto*/
            font-size: 1rem;
            margin-top: 0.3em;
            margin-left: 1.2em;
        }
        a {
            padding: 0.3em;
            margin-top: 0.3em;
            margin-left: 1.8em;
            display: flex;
            justify-content: left;
            height: 1.2em;
            margin-top: 0.3em;
            width: 1.2em;
            font-size: 1rem;
            margin-top: 0.3em;
            margin-left: 1.2em;
        }
    }
form { /*comunicate con nosotros FORMULARIO*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        max-width: 1000px;
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
    }   
    .texto-cuadro { /*classe de nombre, telefono, email*/
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 20vh;
        margin: 0,5 rem 0;
        label { /*nombres*/
            font-size: 100%;
            margin-bottom: 0,2;
        }
        input { /*texto indicativo*/
            height: 10vh;
            padding-left: 0.5em;
            border: 1px solid #203239;
            border-radius: 0.3em;
        }
    } 
    .texto-comentario {
        label { /*Comentario*/
            font-size: 100%;
            margin-bottom: 0,2;
        }
        display: flex;
        flex-direction: column;
        font-size: 100%;
        width: 30vw;
        margin: 0.75rem 0;
        textarea {
            font-size: 100%;
            width: 30vw;
            max-width: 100%;
            height: 20vh;
            max-height: 15em;
            padding-top: 0.5em;
            padding-left: 0.5em;
            border: 1px solid #203239;
            border-radius: 0.3em;
        }
    }
    .enviar {
        display: flex;
        justify-content: center;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        margin-right: auto;
        margin-left: auto;
        height: 14vh;
        button {
            color: #203239;
            border: 1px solid #203239;
            border-radius: 0.3em;
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 100%;
            width: 10vw;
            margin: auto;
            align-items: center;
        }
    } 
    /*tablet*/  
    @media screen and (max-width: 768px) and (min-width: 375px) {
        .bg-light {
            width: 8rem;
        }
        .nav {
            .navbar {
                .navbar-expand {
                    width: 93px;
                    height: 60px;
                }
            }
        }
        .nav-link {
            height: 3em;
        }
        .imagen-descripcion {
            flex-direction: column;
            margin: 0;
            height: 35vw;
            width: 100%;
            p {
                font-size: 100%;
                display: flex;
                height: 130px;
                align-items: center;
            }
            img {
                display: block;
                margin: 0px auto;
                width: 30vw;
                height: 20vw;
            }
        }
        .imagen-descripcion-b {
            flex-direction: column;
            margin: 0;
            height: 35vw;
            width: 100%;
            p {
                font-size: 100%;
                display: flex;
                height: 130px;
                align-items: center;
            }
            img {
                display: block;
                margin: 0px auto;
                width: 30vw;
                height: 20vw;
            }
        }
        body {
            font-size: 100%;
            width: 100%;
            max-width: 1000px;
            margin: 0px;
            display: block;
        }
        .subtitulo {
            font-size: 200%;
        }
        .galeria {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                width: 25vw;
                height: 15vw;
                gap: 1px;
            }
        }
        .container-datos {
            display: block;
            height: 1200px;
            width: 100%;
            font-size: 0.8rem;
        }
        .row {
            label {
                font-size: 0.9rem;
            }
        }
        form {
            display: block;
        }
        .empresa {
            font-size: 0.8rem;
            padding: 1em 2em;
        }
        .productos {
            p {
                display: block;
                height: 6.25rem;
            }
            h3 {
                font-size: 1rem;
            }
        }
        p {
            font-size: 0.8rem;
            min-height: 12vh;
        }
    }
  /*mobile*/ 
  @media screen and (max-width: 375px) {
	.cabecera-contenedora {
		background-image: url(../img/carple-tres-imagenes.png);
		height: 10rem;
	}
	.imagen-descripcion {
		flex-direction: column;
		margin: 0;
		height: 1200vw;
		width: 100%;
		p {
			font-size: 100%;
            display: flex;
			align-items: center;
            justify-content: center;
            }
		img {
			width: 30vw;
			height: 25vw;
			display: block;
			margin: 20px auto;
		}
	}
	.imagen-descripcion-b {
		flex-direction: column;
		margin: 0;
		height: 100vw;
		width: 100%;
		p {
			font-size: 1rem;
			height: 120vh;
			display: flex;
			align-items: center;
		}
		img {
			width: 30vw;
			height: 25vw;
			display: block;
			margin: 10px auto;
		}
	}
	body {
		font-size: 1rem;
		width: 100%;
		max-width: 1000px;
		margin: 0px;
		display: block;
	}
	.subtitulo {
		font-size: 1rem;
	}
	.galeria {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		img {
			max-width: 200px;
			gap: 1px;
		}
	}
	.container-datos {
		display: block;
		width: 100%;
		height: 1000px;
	}
	main {
		h3 {
			text-align: start;
		}
	}
	.row {
		margin-left: 13px;
	}
	.productos {
		display: block;
		h3 {
			font-size: 1rem;
			height: 85px;
		}
	}
	p {
		font-size: 1rem;
		min-height: 3em;
	}
	footer {
		p {
			margin-top: 0.06em;
			text-align: center;
			height: 1rem;
			padding-top: 1em;
		}
	}
	.texto-cuadro {
		width: 20em;
        height: 5em;
		label {
			font-size: 1rem;
		}
		input {
			height: 2rem;
		}
	}
	.texto-comentario {
		label {
			font-size: 1rem;
		}
		font-size: 1rem;
		margin: 0.5rem 0;
        height: 6.25em;
        width: 16rem;
		textarea {
			width: 20em;
            height: 4em;
		}
	}
	.enviar {
		button {
			height: 2em;
			font-size: 1rem;
            width: 4em;
		}
	}
}
    